/* Mainscreen.css */
/* Mainscreen.css */

.mainscreen-container {
    display: flex;
    flex-direction: column; /* Butonlarý dikey olarak sýralamak için */
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.button-grid {
    display: flex; /* Butonlarý yatay olarak sýralamak için */
    flex-wrap: wrap; /* Eðer sýðmazlarsa bir alt satýra geçmeleri için */
    justify-content: center; /* Butonlarý ortalamak için */
    gap: 10px;
}

.button {
    width: 100%;
    max-width: 150px; /* Ýstediðiniz geniþliði ayarlayabilirsiniz */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    
}

    .button.selected {
        background-color: lightblue;
    }

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
}



.button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

    .button:hover {
        background-color: #27ae60;
    }

.selected {
    background-color: #e74c3c;
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
/* Mainscreen.css */



.button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
}

    .button.selected {
        background-color: lightblue;
    }

.visible {
    display: grid;
}

.hidden {
    display: none;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
}
